*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', "sans-serif";

}



body{
  min-height:100vh;
  background:#111;
  padding:20px;
  background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ===== SECTION FIRST ===== */

.section-first{
  width:100%;
}

/* Heading top-left */
#todoheading{
  color:white;
  margin-bottom:40px;
}

/* Card (centered automatically) */
.section-first{
  max-width:450px;
  margin:0 auto;            /* centers on laptop + mobile */
  background:#212121;
  padding:35px 25px;
  border-radius:14px;
  text-align:center;
}

/* Input */
#input-box{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:none;
  border-radius:8px;
  background:#2b2b2b;
  color:white;
}

#input-box::placeholder{
  color:#888;
}

/* Minimal button */
#Create-task{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:white;
  cursor:pointer;
  transition:0.2s;
}

#Create-task:hover{
  transform:translateY(-2px);
  background:#eaeaea;
}